* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adventure-img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .adventure-img {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .adventure-img {
        width: auto;
        height: 100%;
    }
}

.logo {
    width: 200px;
    margin-top: 20px;
    border-radius: 20px;
}

.main-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image-text{
    display: flex;
}

.side-text {
    margin-left: 15px;
    margin-top: 20px;
}

.discovery {
    font-size: 32px;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.middle {
    text-align: center;
    padding-top: 200px;
}

.middle h1 {
    font-size: 60px;
    font-style: 56.464px gt-sectra;
    display: flex;
    text-align: center;
    color: white;
    margin-left: 100px;
    margin-right: 600px;
}

.middle lower-text {
    text-decoration: none;
    display: flex;
    font-size: 24px;
    border: 2px;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.footer {
    color: white;
    display: flex;
}

.scroll {
    padding-top: 90px;
}
.icon {
    margin-top: 70px;
    padding-left: 900px;
    font-size: 100px;
}

.content {
    margin-top: 0px;
    margin-left: 90px;
    margin-bottom: 40px;
}

.content p{
    margin-top: 50px;
}

.info {
    margin: 100px 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
.mission  {
    margin-top: 10%;
    margin-left: 6%;
    width: 40%;
    float: left;
}
.mission h3 {
    margin-bottom: 7.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.mission p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.golf {
    float: right;
    margin-right: 6%;
}

.margin {
    margin-top: 75%;
}

.slides {
    display: flex;
    margin-left: 70px;
    font-size: 25px;
}
.slides h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.arrows {
    margin-left: 57%;
    font-size: 50px;
}
.images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 3%;
    width: 30%;
    height: 2%;
}
.img1 {
    background-image: url(https://discoverylandco.com/imager/images/191/grass_397186feb8bd51bb37bc24fc2b9b500f.jpg);
    color: white;
    width: auto;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin: 2%;
}
.img1 {
    padding: 65% 5% 5%;
}
.img1 p{
    opacity: 0.9;
}
.img1 h3{
    margin-bottom: 5%;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img2 {
    background-image: url(https://discoverylandco.com/imager/images/558/GallatinFork0217_Bedroom02_397186feb8bd51bb37bc24fc2b9b500f.jpg);
    color: white;
    width: auto;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin: 2%;
}
.img2 {
    padding: 53% 5% 5%;
}
.img2 p{
    opacity: 0.9;
}
.img2 h3{
    margin-bottom: 5%;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img3 {
    background-image: url(https://discoverylandco.com/imager/images/14911/Screen-Shot-2023-08-29-at-2.19.53-PM_397186feb8bd51bb37bc24fc2b9b500f.png);
    color: white;
    width: auto;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin: 2%;
}
.img3 {
    padding: 61% 5% 5%;
}
.img3 p{
    opacity: 0.9;
}
.img3 h3{
    margin-bottom: 5%;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img4 {
    background-image: url(https://discoverylandco.com/imager/images/170/What_we_do_footer_carousel2_397186feb8bd51bb37bc24fc2b9b500f.jpg);
    color: white;
    width: auto;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin: 2%;
}
.img4 {
    padding: 48% 5% 5%;
}
.img4 p{
    opacity: 0.9;
}
.img4 h3{
    margin-bottom: 5%;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img5 {
    background-image: url(https://discoverylandco.com/imager/images/14909/Screen-Shot-2023-08-29-at-12.28.05-PM_397186feb8bd51bb37bc24fc2b9b500f.png);
    color: white;
    width: auto;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin: 2%;
}
.img5 {
    padding: 70% 5% 5%;
}
.img5 p{
    opacity: 0.9;
}
.img5 h3{
    margin-bottom: 2%;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gather {
    margin-top: 6%;
}

.story {
    background-color: #161f1e;
    width: 100vw;
    height: 100vh;
    margin-top: 8%;
    color: white;
    display: flex;
}

.title {
    width: 35%;
    height: 5%;
    padding: 80px 100px;
}
.title h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px
}

.story-content {
    float: right;
    width: 40%;
    height: 40%;
}

.c1 {
    display: block;
    text-align: start;
    position: relative;
    transform: translate(200px,80px);line-height: 2;
}

.video-btn{
    border: 1px solid white;
    width: 30%;
    height: 25%;
    margin: 20% 35%;
    padding: 3%;
    text-align: center;
}

.video {
    display: flex;
    justify-content: center;
    margin:0% 12%;    
    height: 95vh;
    background-color: #161f1e;
}

.background{
    background-color: #161f1e;
    padding-bottom: 8%;
}

.house-mount {
    margin-top: 9%;
}
.db-story {
    margin-left: 150px;
}
.db-text {
    float: left;
    margin-top: 20%;
}
.db-text h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.db-text p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 8%;
}
.db-img1 {
    float: right;
    margin-top: 10%;
    margin-right: 10%;

}
.db-img2 {
    float: left;
    width: 40%;
    height: 40%;
    margin-top: 20%;
    background-size: cover;
}

.adjust {
    margin-top: 80%;
}

.ourworlds {
    background-image: url(https://discoverylandco.com/imager/images/160/What_we_do_footer_2_5dabbd1a34149dcaed83515ff1526a0f.jpg);
    background-size: cover;
    width: 100vw;
    height: 80vh;
}
.ourworlds h1 {
    text-align: center;
    padding-top: 15%;
    color: white;
    margin-bottom: 40px;
}
.explore {
    text-align: center;
    padding-top: 1%;
    margin-left: 45%;
    border: 1px solid white;
    width: 10%;
    height: 10%;
    color: white;
}

.contact {
    background-color: #161f1e;
    width: 100vw;
    height: auto;
    color: white;
}

.logos {
    padding: 125px 100px;
    display: flex;
}

.git {
    padding-left: 40%;
    line-height: 250%;
}

.about {
    padding-left: 15%;
    line-height: 250%;
}

.careers {
    padding-left: 3%;
    line-height: 250%;
}

#connect {
    opacity: 0.5;
    font-size: 13px;
}

#re {
    line-height: 500%;
    opacity: 0.5;
    font-size: 13px;
}

#remail {
    line-height: 0%;
}

.last {
    display: flex;
    margin-left: 8%;
    padding-bottom: 3%;
    opacity: 0.8;
    font-size: 15px;
}

#site {
    margin-left: 58%;
}
#world-link {
    text-decoration: none;
    color: white;
}
#dlc-link {
    text-decoration: none;
    color: white;
}
#experiences-link {
    text-decoration: none;
    color: white;
}