* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 40px;
    margin-top: 20px;
    border-radius: 20px;
}

.image-text{
    display: flex;
    color: white;
}

.side-text {
    margin-left: 15px;
    margin-top: 20px;
}

.discovery {
    font-size: 32px;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.middle {
    text-align: center;
    padding-top: 200px;
}

.middle h1 {
    font-size: 60px;
    font-style: 56.464px gt-sectra;
    display: flex;
    text-align: center;
    color: white;
    margin-left: 100px;
    margin-right: 600px;
}

.middle lower-text {
    text-decoration: none;
    display: flex;
    font-size: 24px;
    border: 2px;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .video {
        width: auto;
        height: 100%;
    }
}

.footer {
    color: white;
    display: flex;
}

.scroll {
    padding-top: 100px;
}
.icon {
    margin-top: 50px;
    padding-left: 900px;
    font-size: 125px;
}

.content {
    margin-top: 0px;
    margin-left: 90px;
    margin-bottom: 40px;
}

.content p{
    margin-top: 50px;
}

.content-img {
    background-image: url("https://discoverylandco.com/imager/images/287/background_imagev2_3580431e48aedf97dcedf972d1481942.jpg");
    z-index: -1;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-top: 100px;
}

.content-img h2 {
    margin-left: 125px;
}

.content-img p {
    margin: 40px 0px 0px 125px;
    line-height: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-size-adjust: 10%;
}
.mountain {
    width: 50vw;
    height: 110vh;
    float: right;
    padding-right: 175px;
    padding-bottom: 100px;
}

.sunrise {
    float: left;
    width: 35%;
    height: 40%;
    margin: 140px 0px 0px 100px;
    /* margin-left: 100px; */
}