* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 200px;
    margin-top: 20px;
    border-radius: 20px;
}

.image-text{
    display: flex;
}

.side-text {
    margin-left: 15px;
    margin-top: 20px;
}

.discovery {
    font-size: 32px;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.middle {
    text-align: center;
    padding-top: 200px;
}

.middle h1 {
    font-size: 60px;
    font-style: 56.464px gt-sectra;
    display: flex;
    text-align: center;
    color: white;
    margin-left: 100px;
    margin-right: 600px;
}

.middle lower-text {
    text-decoration: none;
    display: flex;
    font-size: 24px;
    border: 2px;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .video {
        width: auto;
        height: 100%;
    }
}

.footer {
    color: white;
    display: flex;
}

.scroll {
    padding-top: 100px;
}
.icon {
    margin-top: 50px;
    padding-left: 900px;
    font-size: 125px;
}

.content {
    margin-top: 0px;
    margin-left: 90px;
    margin-bottom: 40px;
}

.content p{
    margin-top: 50px;
}

.content-img {
    background-image: url("https://discoverylandco.com/imager/images/287/background_imagev2_3580431e48aedf97dcedf972d1481942.jpg");
    z-index: -1;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-top: 100px;
}

.content-img h2 {
    margin-left: 125px;
}

.content-img p {
    margin: 40px 0px 0px 125px;
    line-height: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-size-adjust: 10%;
}
.mountain {
    width: 50vw;
    height: 110vh;
    float: right;
    padding-right: 175px;
    padding-bottom: 100px;
}

.sunrise {
    float: left;
    width: 35vw;
    height: 50vh;
    margin: 140px 0px 0px 100px;
}

.explore {
    margin-top: 70vh;
    margin-left: 125px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
}

.arrows {
    padding-left: 800px;
}

.bottom {
    margin-bottom: 40%;
}

.images {
    display: flex;
    margin-top: 3%;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
    height: 2%;
}

.img1 {
    background-image: url(https://discoverylandco.com/imager/images/208/ironhorse-carousel_397186feb8bd51bb37bc24fc2b9b500f.jpg);
    color: white;
    width: 350px;
    height: 400px;
    padding: 65% 15% 0% 7.5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 2%;
}

.img2 {
    background-image: url(https://discoverylandco.com/imager/images/14898/Screen-Shot-2023-08-29-at-1.47.55-PM_397186feb8bd51bb37bc24fc2b9b500f.png);
    color: white;
    width: 350px;
    height: 400px;
    padding: 65% 15% 0% 7.5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 2%;
}

.img3 {
    background-image: url(https://discoverylandco.com/imager/images/206/Grande-carousel_397186feb8bd51bb37bc24fc2b9b500f.jpg);
    color: white;
    width: 450px;
    height: 400px;
    padding: 65% 15% 0% 7.5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 2%;
}

.lord h2 {
    margin-left: 125px;
    margin-top: 125px;
}
.lord h3 {
    margin-left: 125px;
}
.lord h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lord p{
    margin: 40px 0px 60px 125px;
    font-family: 'Courier New', Courier, monospace;
}

.globedata {
    display: flex;
}
.globe {
    margin-left: -2%;
    z-index: -2;
}
.blackscreen {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/A_black_image.jpg/640px-A_black_image.jpg);
    z-index: -1;
    margin-left: -3%;
    width: 425px;
    height: 600px;
    color: white;
}

.imagecontent {
    margin: 60px 50px;
    font-size: 30px;
}

#climate {
    margin-left: 50px;
    font-size: 30px;
}

#sun {
    padding-right: 10%;
}

#wind {
    padding-right: 10%;
}

.climatenames {
    margin-left: 45px;
    opacity: 0.5;
}

.wind {
    margin-left: 6.5%;
}

.compass{
    margin-left: 27px;
}

.place {
    margin-left: 50px;
    margin-top: 80px;
}

#text {
    opacity: 0.5;
    font-size: 20px;
}

#text1 {
    font-size: 30px;
    margin-bottom: 20px;
}

#loc {
    opacity: 0.5;
}

.events {
    display: flex;
    margin-top: -3%;
    color: white;
}

.experience {
    background-image: url(https://discoverylandco.com/imager/images/11020/amazing-pool-2_fc98236fcd7afd38ca0fd181cf61bcb6.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.lifestyle {
    background-image: url(https://discoverylandco.com/imager/images/729/lifestyle_slider_190716_095537_fc98236fcd7afd38ca0fd181cf61bcb6.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.wellness {
    background-image: url(https://discoverylandco.com/imager/images/14860/Screen-Shot-2023-08-29-at-12.29.27-PM_fc98236fcd7afd38ca0fd181cf61bcb6.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.events p{
    display: flex;
    justify-content: center;
    margin-top: 55%;
    font-size: 40px;
}

.events i {
    display: flex;
    justify-content: center;
    font-size: 60px;
}

.contact {
    background-color: #161f1e;
    width: 100vw;
    height: auto;
    color: white;
}

.logos {
    padding: 125px 100px;
    display: flex;
}

.git {
    padding-left: 40%;
    line-height: 250%;
}

.about {
    padding-left: 15%;
    line-height: 250%;
}

.careers {
    padding-left: 3%;
    line-height: 250%;
}

#connect {
    opacity: 0.5;
    font-size: 13px;
}

#re {
    line-height: 500%;
    opacity: 0.5;
    font-size: 13px;
}

#remail {
    line-height: 0%;
}

.last {
    display: flex;
    margin-left: 8%;
    opacity: 0.8;
    font-size: 15px;
    padding-bottom: 3%;
}

#site {
    margin-left: 58%;
}

#link {
    text-decoration: none;
    color: white;
}
#world-link {
    text-decoration: none;
    color: white;
}
#experiences-link {
    text-decoration: none;
    color: white;
}