* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 200px;
    margin-top: 20px;
    border-radius: 20px;
}

.image-text{
    display: flex;
}

.side-text {
    margin-left: 15px;
    margin-top: 20px;
}

.discovery {
    font-size: 32px;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.middle {
    text-align: center;
    padding-top: 250px;
}

.middle h1 {
    font-size: 60px;
    font-style: 56.464px gt-sectra;
    display: flex;
    text-align: center;
    color: white;
    margin-left: 100px;
    margin-right: 600px;
}

.middle lower-text {
    text-decoration: none;
    display: flex;
    font-size: 24px;
    border: 2px;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .video {
        width: auto;
        height: 100%;
    }
}

.footer {
    color: white;
    display: flex;
}

.scroll {
    padding-top: 150px;
}
.icon {
    margin-top: 150px;
    padding-left: 900px;
    font-size: 100px;
}

.content {
    margin-top: 0px;
    margin-left: 90px;
    margin-bottom: 40px;
}

.content p{
    margin-top: 50px;
}

.text p{
    font-family: 'Times New Roman', Times, serif;
    margin: 8% 12%;
    font-size: 40px;
}
#text-line3 {
    margin-left: 20%;
    font-family: 'Times New Roman', Times, serif;
}
.text-image{
    display: flex;
    width: 100%;
    height: 500px;
    margin-bottom: 20%;
}
.paragraph {
    float: left;
    width: 38%;
    margin-top: 100px;
    margin-left: 120px;
    line-height: 1.5;
}
.paragraph h2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.paragraph p {
    font-family: 'Courier New', Courier, monospace;
}
.adventure {
    float: right;
    margin-left: 15%;
}
.adventure img {
    width: 130%;
    height: 130%;
}
.golf-image{
    background-image: url(https://discoverylandco.com/imager/images/11050/views-of-the-golf-course-at-Gozzer-5_4d32d1f061062da257f8ac1083a047ac.jpg);
    box-shadow: 50px 50px #ABABAB;
    width: 70vw;
    height: 100vh;
}
.golf-text {
    background-image: url(https://img.freepik.com/free-photo/abstract-surface-textures-white-concrete-stone-wall_74190-8189.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1708358400&semt=sph);
    position: relative;
    top: 100px;
    left: 800px;
    width: 500px;
    height: 350px;
    padding: 3%;
    padding-left: 4%;
    line-height: 1.5;
    font-size: 17.5px;
    font-family: 'Times New Roman', Times, serif;
}
.golf-image h2{
    background-image: url(https://img.freepik.com/free-photo/abstract-surface-textures-white-concrete-stone-wall_74190-8189.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1708358400&semt=sph);
    position: relative;
    top: 100px;
    left: 800px;
    width: 500px;
    padding-top: 8%;
    padding-left: 4%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

#explore {
    position: relative;
    top: 100px;
    border: 1px solid black;
    padding: 4% 8%;
    font-family: 'Times New Roman', Times, serif;
}
.outdoor-image{
    background-image: url(https://discoverylandco.com/imager/images/15204/Barbuda-Ocean-Club-20-0414_4d32d1f061062da257f8ac1083a047ac.jpg);
    margin-top: 100px;
    position: relative;
    width: 75vw;
    height: 100vh;
    left: 25%;
    box-shadow: -50px 50px #96B3CA;
}
.outdoor-text {
    background-image: url(https://img.freepik.com/free-photo/abstract-surface-textures-white-concrete-stone-wall_74190-8189.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1708358400&semt=sph);
    position: relative;
    top: 100px;
    left: -200px;
    width: 500px;
    height: 460px;
    padding-right: 3%;
}
.outdoor-text h2 {
    padding-top: 15%;
    padding-left: 10%;
}
.outdoor-text p {
    padding-top: 8%;
    padding-left: 10%;
    line-height: 1.5;
    font-size: 17.5px;
    font-family: 'Times New Roman', Times, serif;
}
#explore1 {
    position: relative;
    top: 75px;
    right: 135px;
    border: 1px solid black;
    padding: 4% 8%;
    font-family: 'Times New Roman', Times, serif;
}
.adjust1{
    margin-top: 10%;
}
.wellness-img {
    background-image: url(https://discoverylandco.com/imager/images/15219/Screen-Shot-2023-08-30-at-2.37.46-PM_4d32d1f061062da257f8ac1083a047ac.png);
    box-shadow: 50px 50px #eeeee4;
    width: 70vw;
    height: 100vh;
}
.wellness-text {
    background-image: url(https://img.freepik.com/free-photo/abstract-surface-textures-white-concrete-stone-wall_74190-8189.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1708358400&semt=sph);
    position: relative;
    top: 100px;
    left: 800px;
    width: 500px;
    height: 500px;
}
.wellness-text h2 {
    padding-top: 15%;
    padding-left: 10%;
}
.wellness-text p {
    padding-top: 8%;
    padding-left: 10%;
    line-height: 1.5;
    font-size: 17.5px;
    font-family: 'Times New Roman', Times, serif;
}
#explore2 {
    position: relative;
    top: 75px;
    border: 1px solid black;
    padding: 4% 8%;
    font-family: 'Times New Roman', Times, serif;
}
.adjust2{
    margin-top: 10%;
}
.worlds-image {
    background-image: url(https://discoverylandco.com/imager/images/9846/Barbuda-ocean-club-2_5dabbd1a34149dcaed83515ff1526a0f.jpg);
    width: 100vw;
    height: 80vh;
    background-size: cover;
}
.worlds-image {
    color: white;
}
.worlds-image p{
    display: flex;
    justify-content: center;
    width: 80px;
    height:25px;
    padding: 1% 6% 2.5%;
    font-size: 20px;
    margin-top: 2%;
    margin-left: 43.5%;
    border: 1px solid white;

}
.worlds-image h2 {
    display: flex;
    justify-content:center ;
    padding-top: 15%;
    font-size: 40px;
}
.contact {
    background-color: #161f1e;
    width: 100vw;
    height: auto;
    color: white;
}

.logos {
    padding: 125px 100px;
    display: flex;
}

.git {
    padding-left: 50%;
    line-height: 250%;
}

.about {
    padding-left: 10%;
    line-height: 250%;
}

.careers {
    padding-left: 5%;
    line-height: 250%;
}

#connect {
    opacity: 0.5;
    font-size: 13px;
}

#re {
    line-height: 500%;
    opacity: 0.5;
    font-size: 13px;
}

#remail {
    line-height: 0%;
}

.last {
    display: flex;
    margin-left: 8%;
    opacity: 0.8;
    font-size: 15px;
    padding-bottom: 3%;
}

#site {
    margin-left: 58%;
}

#link {
    text-decoration: none;
    color: white;
}

#experiences {
    text-decoration: none;
    color: white;
}